<html>
<head>

<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<!-- <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script> -->

<!-- Load Vue followed by BootstrapVue -->
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

<!-- vue-js-modal -->
<script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/styles.css">

<!-- original style -->
<style type="text/css">
<!--
body {
    padding: 20px;
}
.presentation-formula {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
}
.presentation-bottom {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.presentation-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
-->
</style>

</head>

<body>

<div id="app">
    <h1>Formulas Presentation</h1>

    <edit-formulas-list 
        :formulas="formulas"
        @add-fm="addFm"
        @remove-fm="removeFm"
        @swap-fm="swapFm"
    >
    </edit-formulas-list>

    <modal id="modal-presentation" name="modal-presentation" width="100%" height="100%">
        <presentation :formulas="formulas" />
    </modal>

    <!-- <b-button v-if="!isInPresentation" @click="startPresentation" size="lg" variant="outline-primary">Start Presentation</b-button>
    <b-button v-if="isInPresentation" @click="startPresentation"  size="lg" variant="outline-danger">Stop Presentation</b-button> -->
    <b-button @click="startPresentation" size="lg" variant="outline-primary">Start Presentation</b-button>
</div>

<script type="text/x-template" id="edit-formulas-list">
    <div id="edit-formulas-list">
        <b-table striped hover :items="formulas" :fields="fields">
            <template v-slot:cell(formula)="row">
                {{ row.item.sahen1 }} {{ row.item.operator }} {{ row.item.sahen2 }} ＝ {{ row.item.answer }}
            </template>
            <template v-slot:cell(actions)="row">
                <b-button size="sm" @click="removeFm(row.item.key)" variant="danger">Remove</b-button>
                <b-button size="sm" @click="swapFm(row.index, row.index - 1)">↑</b-button>
                <b-button size="sm" @click="swapFm(row.index, row.index + 1)">↓</b-button>
            </template>
        </b-table>

        <b-form inline @submit="addFm" @submit.stop.prevent>
            <b-input v-model="newFm.sahen1" required />&nbsp;
            <b-form-select v-model="newFm.operator" :options="operators" />&nbsp;
            <b-input v-model="newFm.sahen2" required />&nbsp;
            ＝&nbsp;
            <b-input v-model="newFm.answer" required />&nbsp;
            <b-button type="submit" variant="primary">Add</button>
        </b-form>
    </div>
</script>

<script type="text/x-template" id="presentation">
    <div id="presentation">
        <div v-if="!formula" class="presentation-formula">
            Click "Next"!
        </div>
        <div v-if="formula" class="presentation-formula">
            {{ formula.sahen1 }} {{ formula.operator }} {{ formula.sahen2 }} ＝ {{ answer ? formula.answer : "？" }}
        </div>
        <div class="presentation-bottom">
            <b-button size="lg" @click="next" variant="outline-primary">Next</b-button>
        </div>
        <div class="presentation-close">
            <b-button size="lg" @click="close">
                <b-icon icon="x" />
            </b-button>
        </div>
    </div>
</script>

<script>

    Vue.config.devtools = true;

    const VModal = window["vue-js-modal"].default
    Vue.use(VModal);

    var editFormulasList = {
        template: '#edit-formulas-list',
        props: ['formulas'],
        data: () => {
            return {
                operators: [ "＋", "−", "×", "÷" ],
                fields: [
                    "formula",
                    "actions",
                ],
                newFm: {
                    sahen1: null,
                    operator: "＋",
                    sahen2: null,
                    answer: null,
                }
            }
        },
        methods: {
            addFm() {
                console.log("addFm");
                // 入力内容が空だったら何もしない
                if (!this.newFm.sahen1 || !this.newFm.sahen2 || !this.newFm.answer) {
                    console.log("addFm error");
                    return;
                }

                //猫を追加
                this.$emit('add-fm', this.newFm);
                // this.formulas.push(this.newFm);

                //テキストフィールドを空に
                this.newFm = { 
                    sahen1: null,
                    operator: "＋",
                    sahen2: null,
                    answer: null
                };
            },
            removeFm(key) {
                //指定されたキー猫を削除して保存しなおす
                this.$emit('remove-fm', key);
            },
            swapFm(idx1, idx2) {
                this.$emit('swap-fm', { "idx1": idx1, "idx2": idx2})
            },
        }
    }

    var presentaion = {
        template: '#presentation',
        props: ['formulas'],
        data: () => {
            return {
                index: null,
                formula: null,
                answer: false,
            }
        },
        methods: {
            next() {
                if (this.index == null) {
                    this.index = Math.floor(Math.random() * this.formulas.length);
                    this.formula = this.formulas[this.index];
                    this.answer = false;
                } else {
                    this.index = null;
                    this.answer = true;
                }
            },
            close() {
                console.log("close");
                /* this.$emit('stopPresentation'); */
                this.$modal.hide('modal-presentation');
            },
        }
    }

    const app = new Vue({
        el: '#app',
        data: {
            formulas: [],
        },
        components: {
            'edit-formulas-list': editFormulasList,
            'presentation': presentaion,
        },
        mounted() {
            //json がぶっ壊れている可能性があるので、その場合は local storage を削除
            if (localStorage.getItem('formulas')) {
                try {
                    this.formulas = JSON.parse(localStorage.getItem('formulas'));
                } catch(e) {
                    localStorage.removeItem('formulas');
                }
            }
        },
        methods: {
            addFm(newFm) {
                console.log("app addFm");

                //猫を追加
                this.formulas.push(newFm);

                //猫を保存
                this.saveFormulas();
            },
            removeFm(key) {
                //指定されたキー猫を削除して保存しなおす
                this.formulas.splice(key, 1);
                this.saveFormulas();
            },
            swapFm(idxes) {
                const min = Math.min(idxes.idx1, idxes.idx2);
                const max = Math.max(idxes.idx1, idxes.idx2);

                if (max - min != 1 || min < 0 || max > this.formulas.length - 1) { return; }

                const minItem = this.formulas[min];
                const maxItem = this.formulas[max];
                this.formulas.splice(min, 2, maxItem, minItem);
            },
            saveFormulas() {
                //this.cats の値を保存
                const parsed = JSON.stringify(this.formulas);
                localStorage.setItem('formulas', parsed);
            },
            startPresentation() {
                this.$modal.show('modal-presentation');
            },
            stopPresentation() {
                console.log("stopPresentation");
                this.$modal.hide('modal-presentation');
            },
        }
    })

</script>

</body>
</html>