<div id="app">
    <edit-formulas-list 
        v-if="!isInPresentation"
        :formulas="formulas"
        @add-fm="addFm"
        @remove-fm="removeFm"
    >
    </edit-formulas-list>

    <presentation
        v-if="isInPresentation"
        :formulas="formulas"
    >
    </presentation>

    <button v-if="!isInPresentation" @click="startPresentation">Start Presentation</button>
    <button v-if="isInPresentation" @click="startPresentation">Stop Presentation</button>
</div>

<script type="text/x-template" id="edit-formulas-list">
    <div id="edit-formulas-list">
        <h2>Formulas</h2>
        <div v-for="(fm, key) in formulas">
            <p>
                <span class="fm">{{ fm.sahen1 }} {{ fm.operator.text }} {{ fm.sahen2 }} ＝ {{ fm.answer }}</span>
                <button @click="removeFm(key)">Remove</button>
            </p>
        </div>

        <p>
            <input v-model="newFm.sahen1">
            <select v-model="newFm.operator">
                <option v-for="op in operators" v-bind:value="op">{{ op.text }}</option>
            </select>
            <input v-model="newFm.sahen2">
            ＝
            <input v-model="newFm.answer">
            <button @click="addFm">Add</button>
        </p>
    </div>
</script>

<script type="text/x-template" id="presentation">
    <div id="presentation">
        <div>
            <p>
                <span v-if="formula" class="fm">{{ formula.sahen1 }} {{ formula.operator.text }} {{ formula.sahen2 }} ＝ {{ answer ? formula.answer : "？" }}</span>
                <button @click="next">Next</button>
            </p>
        </div>
    </div>
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/heyui"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/heyui/themes/index.css">

<script>

    var editFormulasList = {
        template: '#edit-formulas-list',
        props: ['formulas'],
        data: () => {
            return {
                operators: [
                    { value: "+", text: "＋" },
                    { value: "-", text: "−" },
                    { value: "*", text: "×" },
                    { value: "/", text: "÷" },
                ],
                newFm: {
                    sahen1: null,
                    operator: { value: "+", text: "＋" },
                    sahen2: null,
                    answer: null,
                }
            }
        },
        methods: {
            addFm() {
                console.log("addFm");
                // 入力内容が空だったら何もしない
                if (!this.newFm.sahen1 || !this.newFm.sahen2 || !this.newFm.answer) {
                    console.log("addFm error");
                    return;
                }

                //猫を追加
                this.$emit('add-fm', this.newFm);
                // this.formulas.push(this.newFm);

                //テキストフィールドを空に
                this.newFm = { 
                    sahen1: null,
                    operator: { value: "+", text: "＋" },
                    sahen2: null,
                    answer: null
                };
            },
            removeFm(key) {
                //指定されたキー猫を削除して保存しなおす
                this.$emit('remove-fm', key);
            },
        }
    }

    var presentaion = {
        template: '#presentation',
        props: ['formulas'],
        data: () => {
            return {
                index: null,
                formula: null,
                answer: false,
            }
        },
        methods: {
            next() {
                if (this.index == null) {
                    this.index = Math.floor(Math.random() * this.formulas.length);
                    this.formula = this.formulas[this.index];
                    this.answer = false;
                } else {
                    this.index = null;
                    this.answer = true;
                }
            },
        }
    }

    const app = new Vue({
        el: '#app',
        data: {
            formulas: [],
            isInPresentation: false,
        },
        components: {
            'edit-formulas-list': editFormulasList,
            'presentation': presentaion,
        },
        mounted() {
            //json がぶっ壊れている可能性があるので、その場合は local storage を削除
            if (localStorage.getItem('formulas')) {
                try {
                    this.formulas = JSON.parse(localStorage.getItem('formulas'));
                } catch(e) {
                    localStorage.removeItem('formulas');
                }
            }
        },
        methods: {
            addFm(newFm) {
                console.log("app addFm");

                //猫を追加
                this.formulas.push(newFm);

                //猫を保存
                this.saveFormulas();
            },
            removeFm(key) {
                //指定されたキー猫を削除して保存しなおす
                this.formulas.splice(key, 1);
                this.saveFormulas();
            },
            saveFormulas() {
                //this.cats の値を保存
                const parsed = JSON.stringify(this.formulas);
                localStorage.setItem('formulas', parsed);
            },
            startPresentation() {
                this.isInPresentation = !this.isInPresentation;
            }
        }
    })

</script>
